{% extends "brochure/index.html" %}


{% block landing %}
<span class="mdl-typography--subhead">日期: </span><p class="mdl-typography--headline color-orange">{{ content.chin_date }}</p>
<span class="mdl-typography--subhead">地點: </span><a href="#contact-us"><p class="mdl-typography--headline color-orange">{{ content.chin_venue }}</p></a>
{% endblock %}


{% block welcome %}
<div class="mdl-cell mdl-cell--8-col">
  <!-- Todo -->
  <br>
  <h4 class="stem-no-sidepad color-grey">大學讀<span class="color-red">數理</span>就一定要<span class="color-orange">教書</span>？</h4>
  <h4 class="stem-no-sidepad color-grey">研人文<span class="color-red">哲學</span>就一定要<span class="color-orange">乞食</span>？</h4>
  <br>
  <p class="color-grey mdl-typography--subtitle">十多名牛津大學及本地大學本科生將分享在大學深造的經驗。不論你是對數理科技還是人文藝術有興趣，我們希望你在大學選科作出最合意，最明智的決定。</p>
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" href="https://hkage.org.hk/b5/student/Registration/talk/nonMemberApp.php?pid=2923" target="_blank" style="max-width: 250px; margin-top: 10px;">現即報名</a>
  <br>
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--contrast" href="https://hkage.org.hk/b5/student/Registration/talk/logon2.php?pid=2923" target="_blank" style="max-width: 250px; margin-top: 10px;">報名(HKAGE members)</a>
</div>
<div class="mdl-cell mdl-cell--4-col">
  <img class="stem-wordcloud" src="/static/wordcloud.jpg" alt="subject-wordcloud">
</div>
<div class="mdl-cell mdl-cell--4-col">
  <h4 style="font-weight: 500;">{{ content.chin_welcome_header_1 }}</h4>
  <p class="color-grey">{{ content.chin_welcome_text_1 }}</p>
</div>
<div class="mdl-cell mdl-cell--4-col">
  <h4 style="font-weight: 500;">{{ content.chin_welcome_header_2 }}</h4>
  <p class="color-grey">{{ content.chin_welcome_text_2 }}</p>
</div>
<div class="mdl-cell mdl-cell--4-col">
  <h4 style="font-weight: 500;">{{ content.chin_welcome_header_3 }}</h4>
  <p class="color-grey">{{ content.chin_welcome_text_3 }}</p>
</div>
{% endblock %}

{% block about %}
<div class="mdl-cell mdl-cell--3-col">
  <h3 class="stem-no-sidepad color-grey">{{ content.chin_about_title }}</h3>
  <span class="mdl-typography--display-1-color-contrast" id="typed-title"></span>
</div>
<div class="mdl-cell mdl-cell--9-col">
  <h3 class="stem-no-sidepad color-grey">{{ content.chin_about_subtitle }}</h3>
  <p class="color-grey" style="padding: 32px 0 0;">{{ content.chin_about_text}}</p>
</div>
{% endblock %}


{% block speaker %}
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp stem-speaker-card">
  <div class="mdl-card__media mdl-card__media--clip">
    <img class="stem-speaker-image" src="/media/{{ s.photo }}" border="0" alt="">
  </div>
  <div class="mdl-card__title mdl-card__title--col">
    <h4 class="mdl-card__title-text mdl-card__title-text--begin">{{ s.chin_name }}</h4>
    <h5 class="stem-speaker-degree mdl-card__title-text mdl-card__title-text--begin">{{ s.chin_degree }}</h5>
  </div>
  <div class="mdl-card__supporting-text">
    <p class="stem-speaker-topic mdl-typography--title" style="margin-bottom: 8px;">{{ s.chin_title }}</p>
    <p class="mdl-typography--subhead-color-contrast">{{ s.chin_subject }}</p>
    <p>{{ s.chin_abstract | truncatechars:70 }}</p>
  </div>
  <button class="stem-show-button mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" href="{{ s.name | cut:' ' | cut:':' }}-overlay" style="width: 80px">了解更多</button>

  <div class="stem-overlay mdl-shadow--6dp" id="{{ s.name | cut:' ' | cut:':' }}-overlay">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#{{ s.name | cut:' ' | cut:':' }}-abstract" class="mdl-tabs__tab is-active">演講內容</a>
        <a href="#{{ s.name | cut:' ' | cut:':' }}-profile" class="mdl-tabs__tab">講者簡介</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="{{ s.name | cut:' ' | cut:':' }}-abstract">
        <div class="mdl-card__supporting-text mdl-color-text--black">
          <h4>{{ s.chin_title }}</h4>
          <p>{{ s.chin_abstract }}</p>
        </div>
      </div>

      <div class="mdl-tabs__panel" id="{{ s.name | cut:' ' | cut:':' }}-profile">
        <div class="mdl-card__supporting-text mdl-color-text--black">
          <p>{{ s.chin_profile }}</p>
        </div>
      </div>

      <button class="stem-hide-button mdl-button mdl-button--fab mdl-button--primary mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>
</div>
{% endblock %}


{% block footer_left %}
<span class="mdl-typography--headline" style="padding-right: 15px;">聯辦機構</span>
{% for org in affiliates %}
  <a href="{{ org.link }}" target="_blank"><img class="stem-affiliate-image" src="/media/{{ org.photo }}" alt="{{ org.name }}"></a>
{% endfor %}
{% endblock %}


{% block footer_right %}
<p class="mdl-typography--headline" style="padding-top: 25px;" id="contact-us">聯絡我們: <a href="mailto:info@stemandbeyond.org" target="_blank"><span class="mdl-typography--headline-color-contrast">info@stemandbeyond.org</span></a></p>
<a class="color-grey mdl-typography--title" style="text-decoration: none; padding: 0 0 24px" href="/">EN</a>
 / <a class="color-grey mdl-typography--title" style="text-decoration: none; padding: 0 0 24px;" href="/zh/">繁</a>
{% endblock %}
