.color-red {
    color: rgb(244,67,54);
}
.color-orange {
    color: #ff8a65;
}
.color-white {
    color: rgb(248,248,248);
}
.color-grey {
    color: rgba(0,0,0,.64);
}
.color-black {
    color: rgba(0,0,0,.84);
}
main {
    background-image: url('/static/background.svg');
    background-size: cover;
    background-repeat: repeat-y;
}
.stem-landing {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 80px 0 60px;
    width: 100vw;
}
.stem-landing-details {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 15px 15px rgb(255,243,82);
    }
    100% {
        box-shadow: 0 0 30px 30px rgb(253,240,52);
    }
}
.stem-lightbulb-glow {
    animation: glow 1s infinite alternate;
    position: relative;
    left: 85vw;
    top: -28vw;
    height: 10px;
    width: 0;
    border-radius: 30px;
}
@media (min-width: 500px) {
    @keyframes glow {
        0% {
            box-shadow: 0 0 30px 30px rgb(255,243,82);
        }
        100% {
            box-shadow: 0 0 50px 50px rgb(253,240,52);
        }
    }
    .stem-lightbulb-glow {
        animation: glow 1s infinite alternate;
        position: relative;
        left: 445px;
        top: -135px;
        border-radius: 50px;
    }
}
.stem-welcome,
.stem-goal {
    margin: auto;
    max-width: 1200px;
    padding: 30px 0 0;
    width: 90vw;
}
.stem-goal p {
    padding-left: 16px;
    padding-right: 16px;
}
.stem-speaker {
    margin: 0 auto 0;
    max-width: 1200px;
    padding: 60px 0 0;
}
.stem-card--wide {
    max-width: 1200px;
    margin: auto;
    padding: 4px;
    width: 90vw;
}
.stem-welcome h3 {
    font-size: 40px;
}
.stem-welcome h4 {
    font-weight: 500;
}
@media (min-width: 600px) {
    .stem-card--wide {
        padding: 16px 96px;
    }
}
.stem-speaker-title {
    margin-left: 14px;
}
.stem-speaker-image {
    vertical-align: center;
    width: 100%;
}
.stem-speaker-degree {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}
.stem-speaker-topic{
    color: rgb(244,67,54);
}
.mdl-card__title--col {
    flex-direction: column;
}
.mdl-card__title-text--begin {
    align-self: start;
}
.mdl-card__media--clip {
    height: 300px;
    overflow: hidden;
}
.mdl-card__media {
    background-color: inherit;
}
.stem-affiliate-image {
    max-height: 100px;
    max-width: 80vw;
    padding: 0 5px;
    width: auto;
}
.stem-footer {
    background: #ffffff;
    color: #333;
}
.stem-footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
